loading dataset,merging and matrix formation

In [ ]:
import pandas as pd

#path="/content/drive/MyDrive/project/"

genome_scores = pd.read_csv('genome_scores.csv')
genome_tags = pd.read_csv('genome_tags.csv')
movies = pd.read_csv('movie.csv')

tag_data = pd.merge(genome_scores, genome_tags, on="tagId")

movie_tag_matrix = tag_data.pivot_table(index="movieId", columns="tag", values="relevance", fill_value=0)

movie_features = pd.merge(movies[['movieId', 'title']], movie_tag_matrix, on="movieId")

print("Shape:", movie_features.shape)
movie_features.head()

Shape: (10381, 1130)

,movieId,title,007,007 (series),18th century,1920s,1930s,1950s,1960s,1970s,...,world politics,world war i,world war ii,writer's life,writers,writing,wuxia,wwii,zombie,zombies
0,1,Toy Story (1995),0.02500,0.02500,0.05775,0.09675,0.14675,0.21700,0.06700,0.26275,...,0.03950,0.01800,0.04575,0.03275,0.12500,0.04150,0.01925,0.03625,0.07775,0.02300
1,2,Jumanji (1995),0.03975,0.04375,0.03775,0.04800,0.11025,0.07250,0.04775,0.10975,...,0.04175,0.01925,0.01725,0.02425,0.12550,0.02250,0.01550,0.01475,0.09025,0.01875
2,3,Grumpier Old Men (1995),0.04350,0.05475,0.02800,0.07700,0.05400,0.06850,0.05600,0.18500,...,0.04150,0.02675,0.02775,0.03425,0.15550,0.03675,0.01700,0.01950,0.09700,0.01850
3,4,Waiting to Exhale (1995),0.03725,0.03950,0.03675,0.03100,0.06825,0.04050,0.02325,0.08700,...,0.05750,0.03375,0.02275,0.03975,0.18525,0.05925,0.01500,0.01525,0.06450,0.01300
4,5,Father of the Bride Part II (1995),0.04200,0.05275,0.05925,0.03675,0.07525,0.12525,0.02850,0.08500,...,0.04250,0.02825,0.02150,0.02600,0.14275,0.02075,0.01650,0.01675,0.10750,0.01825

checking for missing values

In [ ]:
movie_tag_matrix.describe()

tag,007,007 (series),18th century,1920s,1930s,1950s,1960s,1970s,1980s,19th century,...,world politics,world war i,world war ii,writer's life,writers,writing,wuxia,wwii,zombie,zombies
count,10381.000000,10381.000000,10381.000000,10381.000000,10381.000000,10381.000000,10381.000000,10381.000000,10381.000000,10381.000000,...,10381.000000,10381.000000,10381.000000,10381.000000,10381.000000,10381.000000,10381.000000,10381.000000,10381.000000,10381.000000
mean,0.045935,0.045552,0.069405,0.085837,0.137502,0.091156,0.061408,0.159705,0.111614,0.068471,...,0.091571,0.044228,0.055657,0.065832,0.249508,0.091067,0.041411,0.045116,0.111188,0.030197
std,0.070003,0.061164,0.108857,0.091188,0.148044,0.098205,0.085536,0.129250,0.140207,0.094508,...,0.126657,0.077041,0.149887,0.078496,0.126822,0.086190,0.072411,0.137216,0.105137,0.081119
min,0.005750,0.007250,0.006000,0.010750,0.016750,0.005500,0.004750,0.011500,0.001750,0.008000,...,0.005000,0.004250,0.004000,0.006500,0.044250,0.007000,0.006000,0.002250,0.025500,0.008500
25%,0.026250,0.027750,0.024750,0.037250,0.062000,0.034750,0.019750,0.070500,0.033750,0.024250,...,0.035500,0.018000,0.014250,0.026500,0.162500,0.041000,0.020250,0.009250,0.069250,0.016250
50%,0.034250,0.036500,0.035500,0.051250,0.087000,0.059250,0.032500,0.115750,0.059500,0.035000,...,0.050750,0.023750,0.019000,0.043750,0.219750,0.064500,0.027000,0.013000,0.083000,0.018750
75%,0.045750,0.049750,0.065750,0.097750,0.143000,0.106750,0.067000,0.208000,0.127750,0.070250,...,0.086250,0.035750,0.028750,0.081250,0.302250,0.108250,0.038000,0.021250,0.107500,0.022500
max,0.999750,1.000000,0.998000,0.928750,0.981500,0.931500,0.949750,0.874500,0.993000,0.926250,...,0.998750,0.973750,0.999750,0.998500,0.980000,0.956000,0.999750,0.997500,0.994750,0.994250

In [ ]:
genome_scores.dropna(inplace=True)  # or fill with 0 if you prefer

In [ ]:
genome_scores.isnull().sum()

movieId      0
tagId        0
relevance    0
dtype: int64

In [ ]:
genome_tags.isnull().sum()

tagId    0
tag      0
dtype: int64

In [ ]:
movies.isnull().sum()

movieId    0
title      0
genres     0
dtype: int64

In [ ]:

duplicate_titles = movies[movies.duplicated(subset='title')]
print(duplicate_titles)

       movieId                                title  \
9135     26958                          Emma (1996)
9150     26982                 Men with Guns (1997)
13269    64997             War of the Worlds (2005)
13354    65665                        Hamlet (2000)
13572    67459                         Chaos (2005)
15826    80330                       Offside (2006)
16827    85070                      Blackout (2007)
20653   101212                     Girl, The (2012)
24064   114130  20,000 Leagues Under the Sea (1997)
24092   114240                       Aladdin (1992)
24437   115777                       Beneath (2013)
25711   121586                      Paradise (2013)
25886   122940                 Clear History (2013)
26808   128862                      Casanova (2005)
26850   128991                Johnny Express (2014)
27064   130062                       Darling (2007)

                                            genres
9135                                       Romance
9150                                         Drama
13269                                Action|Sci-Fi
13354                                        Drama
13572                           Crime|Drama|Horror
15826                                 Comedy|Drama
16827                                        Drama
20653                                        Drama
24064                               Romance|Sci-Fi
24092  Adventure|Animation|Children|Comedy|Fantasy
24437                                       Horror
25711                                      Romance
25886                                       Comedy
26808                         Comedy|Drama|Romance
26850                      Animation|Comedy|Sci-Fi
27064                                        Drama

 cosine similarity

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:

tag_matrix = movie_features.drop(columns=['movieId', 'title'])

cos_sim = cosine_similarity(tag_matrix)

In [ ]:

movie_index = pd.Series(movie_features.index, index=movie_features['title']).drop_duplicates()

In [ ]:
from difflib import get_close_matches

def recommend_movies(title, top_n=5):
    matches = get_close_matches(title, movie_index.keys(), n=1, cutoff=0.6)

    if not matches:
        print(f"Movie '{title}' not found.")
        return []

    idx = movie_index[matches[0]]

    sim_scores = list(enumerate(cos_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)[1:top_n+1]
    recommended_titles = movie_features.iloc[[i[0] for i in sim_scores]]['title'].tolist()

    return recommended_titles

In [ ]:
recommend_movies("the notebook (2004)",top_n=5)

['Love Story (1970)',
 'Affair to Remember, An (1957)',
 'Untamed Heart (1993)',
 'Bridges of Madison County, The (1995)',
 'Sleepless in Seattle (1993)']